<html>
<head>
	<link href="styles.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Underdog' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded">
  	<title>Book Review Haiku</title>
</head>
<body>
	<h1 class="heading">Book Review Haiku</h1>
	<div class="container">
		<div id="books">
			<% @result.each do |r| %>
			<p><a href="#" onclick="alert('hi');"><%= r[0] %></a></p>
			<p>⦿ <%= r[1] %> </p>
			<p><%= r[2] %></p>
			<% end %>
		</div>
		<div id="da_form">
			<form method="post" action="/add">
			<input type="text" name="title" placeholder="enter book title" class="fields">
			<input type="text" name="author" placeholder="enter author" class="fields">
			<textarea name="review" cols="25" rows="5" class="fields">Enter your review haiku here...5/7/5
			</textarea>
			<button type="button" class="css3button">ADD HAIKU REVIEW</button>
<!-- 			<input type="submit" value="Add Review Haiku" class="button"/> -->
		   	</form>
	  	</div>
	</div> <!-- end container div -->
</body>
</html>