<html>
<head>
	<link href="css/styles.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
  	<title>Book Review Haiku</title>
/*  	<style>
  	body {
  		text-align: center;
  		background: #FFF;
		font-family: Arial;
		font-size: 12px;
		letter-spacing: 0px;
	}
	p:hover {
	      background: pink;
	      cursor: pointer;
	}
	h5 {
	    background: #CCC;
		letter-spacing: 3px;
		width: 200px;
		margin: 20px auto;
	}
	input, button {
		border: 1px solid black;
		padding: 5px;
	}
	.done{
		color:gray;
		font-weight: bold;
		text-decoration: line-through;
	}
  </style>*/
</head>
<body>
	<h1>Book Review Haiku</h1>
	<div class="container">
		<div id="da_form">
		<form method="post" action="/add">
			<input type="text" name="title" placeholder="enter book title">
			<input type="text" name="author" placeholder="enter author">
			<textarea name="review" cols="25" rows="5">
			Enter your review haiku here...5/7/5
			</textarea>
			<input type="submit" value="Add Review Haiku" />
		</form>
		</div>
		<div id="results">
			<ul>
			<% @result.each do |r| %>
				<li><%= r[0] %> ⦿ <%= r[1] %> ❦ <%= r[2] %></li>
			<% end %>
			</ul>
		</div>
	</div> <!-- end container div -->
</body>
</html>